*.env

.vs/
.idea/
.vscode/
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
desktop.ini
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
# APP ESCRITORIO
desktop/**/.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates

desktop/**/bin/
desktop/**/obj/
desktop/**/Debug/
desktop/**/Release/
desktop/**/x64/
desktop/**/x86/
desktop/**/ARM/
desktop/**/ARM64/

desktop/**/packages/
*.nupkg
*.snupkg
.nuget/

*.g.cs
*.g.i.cs

TestResults/

publish/