*.env
api/package-lock.json
documentation/*
scripts/*

.vs/
.idea/
.vscode/
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
desktop.ini
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
# APP ESCRITORIO
desktop/**/.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates

desktop/**/bin/
desktop/**/obj/
desktop/**/Debug/
desktop/**/Release/
desktop/**/x64/
desktop/**/x86/
desktop/**/ARM/
desktop/**/ARM64/

desktop/**/packages/
*.nupkg
*.snupkg
.nuget/

*.g.cs
*.g.i.cs

TestResults/

publish/

# =========================
# ANDROID (mobile/Intermodular)
# =========================

mobile/Intermodular/.gradle/
mobile/Intermodular/**/build/
mobile/Intermodular/build/

mobile/Intermodular/local.properties
mobile/Intermodular/.kotlin/

# Android Studio / IntelliJ
mobile/Intermodular/.idea/
mobile/Intermodular/**/*.iml

# Logs
mobile/Intermodular/**/*.log

# APK / AAB
mobile/Intermodular/**/*.apk
mobile/Intermodular/**/*.aab

# NDK
mobile/Intermodular/.externalNativeBuild/
mobile/Intermodular/.cxx/

# Firebase
mobile/Intermodular/**/google-services.json

# Keystores
mobile/Intermodular/**/*.jks
mobile/Intermodular/**/*.keystore

# OS
.DS_Store
Thumbs.db
